/* ================================================
リセットcss：HTML5 Doctor CSS Reset 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
================================================ */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  font-family: Arial, Helvetica, sans-serif,;
  font-style: normal;
  line-height: 2;
  text-decoration: none;
  color: #646363;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  text-decoration: none;
  color: #646363;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000; 
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;   
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}

/* ================================================
ここからPCのCSS
================================================ */

@media only screen and (min-device-width: 768px) {

  /* ================================================
  PC：header 
  ================================================ */
  header {
    width: 100%;
    height: 144px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    z-index:1000; 
  }

  .header_inner{
    width: 1400px;
    margin: 32px auto 45px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header_inner h1{
    width: 369px;
    height: 67px;
    border: solid 1px #666666;
    margin: 0 0 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 35px;
    font-weight: normal;
  }

  .header_inner a{
    width: 369px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header_nav{
    margin: 0 30px 0 0;
  }

  .header_nav a{
    width: auto;
    height: auto;
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
    color: #646363;
  }

  .header_nav ul {
    list-style: none;
    margin: 0;
    display: flex;
  }
  
  .header_nav li {
    margin: 0 0 0 30px;
    font-size: 15px;
  }
  
  
  /* ================================================
  PC：main：上部メイン画像
  ================================================ */
  .main_top{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 144px auto 0 auto;
    background-color: #000000;
  }

  .main_top img{
    opacity: 0.6;
    width: 100%;
    object-fit: cover;
  }

  .main_txt{
    width: 680px;
    vertical-align: middle;
    color: #fff;
    position: absolute; /*absolute:絶対配置を指定する値*/
    right: 155px;
  }

  .main_txt h2{
    font-size: 61px;
    color: #fff;
    font-weight: normal;
  }

  .main_txt p{
    font-size: 21px;
    color: #ffff;
    line-height: 1.5;
  }

  /* ================================================
  PC：main：カードエリア
  ================================================ */
  .card_area{
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 100px auto 0 auto;
  }

  .card{
    width: 375px;
  }

  .card p{
    width: 368px;
    margin: 24px 0px 0px 8px;
    font-size: 15px;
  }
  
  /* ================================================
  PC：main：記事エリア
  ================================================ */
  .article1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1314px;
    margin: 150px auto 0 auto;
  }

  .article2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1314px;
    margin: 150px auto 0 auto;
  }
  
  .article_txt1{
    padding: 0 0 0 100px;
  }
  
  .article_txt2{
    padding: 0 100px 0 0;
  }


  .article_txt1 h3 , .article_txt2 h3{
    font-size: 26px;
    margin: 0 0 35px 0;
    text-align: center;
    font-weight: normal;
  }

  .article_txt1 p , .article_txt2 p{
    font-size: 14px;
  }

  /* ================================================
  PC：main：ニュースエリア
  ================================================ */
  .news{
    margin: 150px auto 0 auto;
  }
  
  .news h4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 50px 0;
    font-size: 20px;
  }

  .news_list{
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .news dl{
    display: flex;
    align-items: center;
    border-bottom: solid 1px #666666;
    width: 874px;
    height: 50px;
    font-size: 14px;
  }

  .news dt{
    width: 126px;
  }

  .news dd{
    margin: 0 0 0 0;
  }

  /* ================================================
  PC：main：バナーエリア
  ================================================ */
  .banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 150px auto 150px auto;
  }
  
  .banner a{
    width: 400px;
    height: 122px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1px solid;
    border-color:#646363;
    font-size: 35px;
  }


  /* ================================================
  PC：fooder 
  ================================================ */
  .footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #dad8d8;
    height: 289px;
  }

  .footer_left{
    margin: 0 0 0 0px;
  }

  .footer_left h3{
    font-size: 18px;
    margin: 0 0 30px 0;
  }

  .footer_left p{
    font-size: 13px;
  }

  .footer_right{
    margin: 0 0px 0 0px;
  }


  .footer_right ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    width: 447px;
    list-style: none;
  }
  
  .copyright{
    background-color: #585656;
    height: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .copyright p{
    color: #ffffff;
    font-size: 12px;
    font-weight: normal;
  }

  }/* デスクトップCSSエンド */
  
  /* ================================================
  ここからスマホのCSS
  ================================================ */
  
  @media only screen and (max-device-width: 480px) {
  
/* ================================================
  スマホ：header 
  ================================================ */
  header {
    width: 100%;
    height: 144px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    z-index:1000; 
  }

  .header_inner{
    width: 100%;
    margin: 20px auto 63px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header_inner::after{
    content: url(images/header_list.png);
    margin: 0 10px 0 0;
  }

  .header_inner h1{
    padding: 0 6px;
    height: 61px;
    border: solid 1px #666666;
    margin: 0 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 30px;
    font-weight: normal;
  }

  .header_inner nav{
    display: none;
  }

  .header_inner ul {
    display: none;
  }
  
  .header_inner li {
    display: none;
  }
  
  /* ================================================
  スマホ：main：上部メイン画像
  ================================================ */
  .main_top{
    width: 100%;
    height: 283px;
    margin: 144px auto 0 auto;
    background-color: #000000;
  }

  .main_top img{
    opacity: 0.6;
    width: 100%;
    height: 283px;
    object-fit: cover;
  }

  .main_txt h2{
    font-size: 30px;
    color: #fff;
    font-weight: normal;
    text-align: center;
    position: relative;
    font-weight: bold;
    top: -182px;
  }

  .main_txt p{
    display: none;
  }

  /* ================================================
  スマホ：main：カードエリア
  ================================================ */
  .card_area{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto 0 auto;
  }

  .card{
    width: 100%;
    margin: 35px auto 0 auto;
    text-align: center;
  }

  .card img{
    width: 100%;
    box-sizing: border-box;
    padding: 0px 46px;
    object-fit: cover;
  }

  .card p{
    width: 100%;
    box-sizing: border-box;
    padding: 0px 46px;
    margin: 15px auto 15px auto;
    font-size: 15px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden; 
  }
  
  /* ================================================
  スマホ：main：記事エリア
  ================================================ */
  .article1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px auto 0 auto;
  }

  .article1::before{
    content: 'Develop';
    width: 140px;
    height: 40px;
    text-align: center;
    font-size: 34px;
    margin: 0px 0 30px 0;
  }

  .article2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    width: 100%;
    margin: 50px auto 0 auto;
  }

  .article2::after{
    content: 'Develop';
    width: 140px;
    height: 40px;
    text-align: center;
    font-size: 34px;
    margin: 0px 0 30px 0;
  }
  
  .article_txt1{
    margin: 17px auto 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 46px;
  }
  
  .article_txt2{
    margin: 17px auto 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 46px;
  }

  .article_txt1 h3 , .article_txt2 h3{
    font-size: 34px;
    margin: 0 0 0 0;
    text-align: center;
    font-weight: normal;
    display: none;
  }

  .article_txt1 p , .article_txt2 p{
    font-size: 14px;
  }

  .article1 img ,.article2 img{
    width: 100%;
    height: 290px;
    object-fit: cover;
  }

  /* ================================================
  スマホ：main：ニュースエリア
  ================================================ */
  .news{
    margin: 50px auto 0 auto;
  }
  
  .news h4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px 0;
    font-size: 20px;
  }

  .news_list{
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .news dl{
    display: flex;
    align-items: center;
    border-bottom: solid 1px #666666;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 0px;
    height: 45px;
  }

  .news dt{
    width: 85px;
    font-size: 14px;
  }

  .news dd{
    width: 253px;
    margin: 0 0 0 0;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* ================================================
  スマホ：main：バナーエリア
  ================================================ */
  .banner{
    width: 100%;
    box-sizing: border-box;
    padding: 0px 46px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px auto 50px auto;
  }
  
  .banner a{
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1px solid;
    border-color:#646363;
    font-size: 28px;
    margin: 30px 0 0 0;
  }


  /* ================================================
  スマホ：fooder 
  ================================================ */
  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    background-color: #dad8d8;
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 50px 0 0 0;
  }

  .footer_left{
    margin: 39px 0 50px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .footer_left h3{
    font-size: 18px;
    margin: 0 0 0 0;
  }

  .footer_left p{
    font-size: 13px;
    margin: 0 0 0 0;
  }

  .footer_right{
    margin: 0 0 0 0;
  }


  .footer_right ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 15px;
    width: 100%;
    list-style: none;
    border-bottom: solid 0.1px #666666;
  }

  .footer_right li{
    display: flex;
    align-items: center;
    font-size: 15px;
    width: 100%;
    height: 50px;
    list-style: none;
    background-color: #ffffff;
    border-top: solid 0.1px #666666;
    padding: 0 0 0px 30px;
  }
  
  .copyright{
    width: 100%;
    background-color: #585656;
    height: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .copyright p{
    color: #ffffff;
    font-size: 12px;
    font-weight: normal;
  }
  
  } /* スマホCSSエンド */